/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    WEHI-SODA-Hub/sp_segment Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                        = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    gradle_cache_dir             = '$HOME/.gradle'

    // background subtraction options
    remove_markers               = 'TRITC,Cy5'

    // combine channels options
    combine_method               = 'prod'

    // sopa segmentation options
    technology                   = 'ome_tif'
    patch_width_pixel            = 3000
    patch_overlap_pixel          = 40

    // cellpose options
    cellpose_diameter            = 30
    cellpose_min_area            = 200
    cellpose_flow_threshold      = 0.4
    cellpose_cellprob_threshold  = 0.0
    cellpose_model_type          = null
    cellpose_pretrained_model    = null

    // mesmer options
    mesmer_segmentation_level    = null
    mesmer_maxima_threshold      = 0.1
    mesmer_interior_threshold    = 0.3
    mesmer_maxima_smooth         = 0
    mesmer_min_nuclei_area       = 40
    mesmer_remove_border_cells   = true
    mesmer_pixel_expansion       = 3
    mesmer_padding               = 0

    // measurement options
    skip_measurements            = false
    percentiles                  = '70,80,90,95,96,97,98,99'
    erosion_steps                = '4,7,11,14,18'
    pixel_size_microns           = 0.28
    estimate_cell_boundary_dist  = 3

    // report options
    generate_report              = true

    // Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params              = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    test          { includeConfig 'conf/test.config'        }
    test_mesmer   { includeConfig 'conf/test_mesmer.config' }

    // process_single is only used by backsub, so set this to high mem
    // For images 150GB and below
    small {
        process {
            withLabel: 'process_medium' {
                memory = { 24.GB * task.attempt }
            }
            withLabel: 'process_high' {
                memory = { 36.GB * task.attempt }
            }
            withLabel: 'process_single' {
                memory = { 36.GB * task.attempt }
            }
            withLabel: 'process_multi' {
                cpus   = 8
                memory = { 36.GB * task.attempt }
            }
        }
    }
    // For images 300GB and below
    medium {
        process {
            withLabel: 'process_medium' {
                memory = { 48.GB * task.attempt }
            }
            withLabel: 'process_high' {
                memory = { 72.GB * task.attempt }
            }
            withLabel: 'process_single' {
                memory = { 72.GB * task.attempt }
            }
            withLabel: 'process_multi' {
                cpus   = 16
                memory = { 72.GB * task.attempt }
            }
        }
    }
    // For images 600GB and below
    large {
        process {
            withLabel: 'process_medium' {
                memory = { 96.GB * task.attempt }
            }
            withLabel: 'process_high' {
                memory = { 144.GB * task.attempt }
            }
            withLabel: 'process_single' {
                memory = { 144.GB * task.attempt }
            }
            withLabel: 'process_multi' {
                cpus   = 32
                memory = { 144.GB * task.attempt }
            }
        }
    }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load WEHI-SODA-Hub/sp_segment custom profiles from different institutions.
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/sp_segment.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

process {
    withName: 'EXTRACTMARKERS' {
        ext.args = {
            [
                params.containsKey('remove_markers') && params.remove_markers ?
                    params.remove_markers.split(',').collect { "--remove-marker ${it}" }.join(' ') : null
            ].findAll { it != null }.join(' ')
        }
    }

    withName: 'CELLMEASUREMENT' {
        // Need to bind gradle cache directory to somewhere writable for cellmeasurement tool to work
        containerOptions = {
            def gradle_cache = params.containsKey('gradle_cache_dir') && params.gradle_cache_dir ?
                params.gradle_cache_dir : "${System.getProperty('user.home')}/.gradle"

            if (workflow.containerEngine == 'apptainer' || workflow.containerEngine == 'singularity') {
                return "-B ${gradle_cache}:/cellmeasurement/.gradle"
            } else if (workflow.containerEngine == 'docker') {
                return "-v ${gradle_cache}:/cellmeasurement/.gradle"
            } else {
                return ''
            }
        }
        ext.args = {
            [
                params.containsKey('skip_measurements') ?
                    (params.skip_measurements ? '--skip-measurements=true' : '--skip-measurements=false') : null,
                params.containsKey('percentiles') && params.percentiles ?
                    "--percentiles=${params.percentiles}" : null,
                params.containsKey('erosion_steps') && params.erosion_steps ?
                    "--erosion-steps=${params.erosion_steps}" : null,
                params.containsKey('pixel_size_microns') && params.pixel_size_microns ?
                    "--pixel-size-microns=${params.pixel_size_microns}" : null,
                params.containsKey('estimate_cell_boundary_dist') && params.estimate_cell_boundary_dist ?
                    "--estimate-cell-boundary-dist=${params.estimate_cell_boundary_dist}" : null
            ].findAll { it != null }.join(' ')
        }
    }

    withName: 'COMBINECHANNELS' {
        ext.args = {
            [
                params.containsKey('combine_method') && params.combine_method ?
                    "--combine-method ${params.combine_method}" : null
            ].findAll { it != null }.join(' ')
        }
    }

    withName: 'SOPA_SEGMENTATIONCELLPOSE' {
        ext.args = {
            [
                params.containsKey('cellpose_flow_threshold') && params.cellpose_flow_threshold != null ?
                    "--flow-threshold ${params.cellpose_flow_threshold}" : null,
                params.containsKey('cellpose_cellprob_threshold') && params.cellpose_cellprob_threshold != null ?
                    "--cellprob-threshold ${params.cellpose_cellprob_threshold}" : null,
                params.containsKey('cellpose_model_type') && params.cellpose_model_type != null ?
                    "--model-type ${params.cellpose_model_type}" : null,
                params.containsKey('cellpose_pretrained_model') && params.cellpose_pretrained_model != null ?
                    "--pretrained-model ${params.cellpose_pretrained_model}" : null
            ].findAll { it != null }.join(' ')
        }
    }

    withName: 'MESMERSEGMENT' {
        ext.args = {
            [
                params.containsKey('combine_method') && params.combine_method ?
                    "--combine-method ${params.combine_method}" : '',
                params.containsKey('mesmer_segmentation_level') && params.mesmer_segmentation_level ?
                    "--segmentation-level ${params.mesmer_segmentation_level}" : '',
                params.containsKey('mesmer_maxima_threshold') && params.mesmer_maxima_threshold ?
                    "--maxima-threshold ${params.mesmer_maxima_threshold}" : '',
                params.containsKey('mesmer_interior_threshold') && params.mesmer_interior_threshold ?
                    "--interior-threshold ${params.mesmer_interior_threshold}" : '',
                params.containsKey('mesmer_maxima_smooth') && params.mesmer_maxima_smooth ?
                    "--maxima-smooth ${params.mesmer_maxima_smooth}" : '',
                params.containsKey('mesmer_min_nuclei_area') && params.mesmer_min_nuclei_area ?
                    "--min-nuclei-area ${params.mesmer_min_nuclei_area}" : '',
                params.containsKey('mesmer_remove_border_cells') ?
                    (params.mesmer_remove_border_cells ? '--remove-cells-touching-border' : '--no-remove-cells-touching-border') : '',
                params.containsKey('mesmer_pixel_expansion') && params.mesmer_pixel_expansion ?
                    "--pixel-expansion ${params.mesmer_pixel_expansion}" : '',
                params.containsKey('mesmer_padding') && params.mesmer_padding ?
                    "--padding ${params.mesmer_padding}" : ''
            ].findAll { it != '' }.join(' ')
        }
    }
}
// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'WEHI-SODA-Hub/sp_segment'
    author          = """WEHI SODA Hub"""
    homePage        = 'https://github.com/WEHI-SODA-Hub/sp_segment'
    description     = """Cell segmentation and downstream analysis pipeline for the COMET and MIBI spatial platforms"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '0.3.1'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    help {
        enabled = true
        command = "nextflow run $manifest.name -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  ${manifest.name} ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "  https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/${manifest.name}/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
