/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with CellSAM
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run WEHI-SODA-Hub/sp_segment -profile test_cellsam,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test CellSAM profile'
    config_profile_description = 'Minimal test dataset to check CellSAM pipeline function'

    input                      = 'tests/cellsam_samplesheet.csv'
    remove_markers             = 'TRITC'

    // CellSAM specific test parameters (smaller for faster testing)
    cellsam_block_size         = 256
    cellsam_overlap            = 32
    cellsam_bbox_threshold     = 0.4
    cellsam_use_wsi            = true
    cellsam_iou_depth          = 32
}
