/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with Mesmer and KRONOS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run WEHI-SODA-Hub/sp_segment -profile test_mesmer_kronos,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test Mesmer with KRONOS profile'
    config_profile_description = 'Minimal test dataset to check Mesmer and KRONOS pipeline function'

    input                      = 'tests/mesmer_samplesheet.csv'
    remove_markers             = 'TRITC'

    // KRONOS specific test parameters
    enable_kronos               = true
    kronos_marker_metadata      = 'tests/data/comet/kronos_marker_metadata.csv'

    // As KRONOS is licensed, user needs to obtain model weigths and set the path via an env var
    kronos_model_path           = System.getenv("KRONOS_MODEL_DIR")
}
